# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
/node_modules/
/vendor/
/bower_components/

# Build outputs
/dist/
/build/
/out/
/public/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.parcel-cache/
.npm/
.eslintcache

# Coverage directory used by tools like istanbul
/coverage/

# Misc
*.tmp
*.bak
*.swp 